h1{
	color:bf80ff;
	background:blue;
	padding: 10px;
	margin: auto;
	border: 5px solid green;
	width: 40%;
	font-family: "Arsenal SC", sans-serif;
  	font-weight: 600;
  	font-style: normal;
	text-align: center;
}

body{background:yellow;}


#MDM{
	color:red;
	width: 10%;
	float:left;}


.highlighted{
	
	width: 40%;
	float: right;}

